<%= render "base" %>
<div id="places">
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				<% @areas.each do |area| -%>
				  <%= render :partial => "admin/areas/area", :locals => { :area => area } %>
				<% end -%>
			</ul>
		</div>
	</div>
</div>
<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @areas %></div>
  <%= paginate @areas, :theme => "admin" %>
</div>