<% if @info.errors.any? -%>
	$("#ajax-form .modal-body")
		.find("#errorExplanation").remove()
		.end()
		.prepend("<%= j(error_messages_for(@info, :class => 'control-group alert alert-error fade in', :close => :true)) %>");
<% else -%>
	$("#ajax-form")
		.find(":input:not(input[type=submit])").val("")
		.end()
		.find(".modal-body")
			.empty()
			.append("<div class=\"control-group success-image\"><%= j(image_tag 'admin/success.png') %></div>")
		.end()
		.find(".modal-footer button[type=submit]")
			.hide();
	$("#info ul")
		.prepend("<%= j(render :partial => 'admin/infos/info', :object => @info) %>");
<% end -%>