<div class="control-group">
  <% if !area.audios.blank? %>
    <ul class="thumbnails">
      <li class="span5">
        <%= render :partial => "admin/audios/audios", :locals => { :audios => audios } %>
      </li>
    </ul>
  <% end -%>
</div>