<%= content_for :title do -%>
	<% if %w(index).include?(action_name) -%>
		<%= t("helpers.links.exception") %>
	<% end -%>
<% end -%>

<%= content_for :sitemaps do -%>
	<span class="active"><%= t("helpers.links.exception") %></span>
<% end -%>