<% if !area.articles.blank? %>
  <div class="control-group">
    <ul>
    <% area.articles.order_desc.each do |article| -%>
      <%= render :partial => "admin/articles/article", :object => article %>
    <% end -%>
    </ul>
  </div>
<% end -%>