<div class="control-group">
  <% if !area.audios.blank? %>
    <ul class="thumbnails">
      <%= render :partial => "admin/audios/audios", :locals => { :audios => area.audios } %>
    </ul>
  <% end -%>
</div>