<div class="big-logo small">
  <%= image_tag "index/logo.jpg", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="navigation">
  <%= image_tag "index/navigation.jpg", :alt => Setting.app_name, :title => Setting.app_name %>
</div>