<%= render "base" %>
<div class="small about">
  <%= image_tag "index/about.png", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="article about_content">
			<h3>
				关于我们
			</h3>
			<p>
				&nbsp &nbsp &nbsp &nbsp 纵横壹旅游科技有限公司于2011年正式成立，隶属世界著名IC设计公司—凌阳科技集团。壹旅游定位于智慧旅游系统运营商，将传统旅游与现代科技创新结合，以“为游客提供完美的旅游体验”为企业目标，潜心致力于创新中国智慧旅游发展。
			</P>
			<h3>
				智慧旅游
			</h3>
			<p>
				&nbsp &nbsp &nbsp &nbsp 纵横壹旅游科技以自身坚强的软硬件实力，结合了移动通信和云计算等前沿技术，再注入倾力打造的旅游多媒体信息，为建设智慧旅游城市研发了壹旅游“云游四海”云端查询系统，是智慧旅游系统运营的创新典范。
			</P>
			<p>
				&nbsp &nbsp &nbsp &nbsp 壹旅游“云游四海”云端查询系统：游客可通过景区全收录查询平台、手机及平板电脑等设备，以短信、彩信、二维码、移动互联网、图片即时识别多种方式，获取壹旅游多媒体旅游全攻略信息，及时安排出行计划，轻松游玩，畅享完美旅游体验。
			</P>
			<h3>
				我们的产品
			</h3>
			<p>
				&nbsp &nbsp &nbsp &nbsp 壹旅游与官方携手，通过实地采编、图片制作、有声解说、原创音乐动画等多媒体制作手段，倾心打造出景区地图、游览线路、初识映象等精美的云端旅游全攻略内容，然后借助四大产品予以完美呈现。
			</P>
			<p>
			<span class="about_1">
				&nbsp &nbsp &nbsp &nbsp 1、景区全收录查询平台 ：
			</span>
			<span class="about_2">
				应用于酒店、机场、旅游集散中心等游客聚集地，强大而实用的旅游资讯平台，可触摸查询景区全攻略信息内容，是智慧旅游酒店之必备！
			</span>
			</p>
			<p>
			<span class="about_1">
				&nbsp &nbsp &nbsp &nbsp 2、景区随身导游（彩信微攻略）：
			</span>
			<span class="about_2">
				随时随地、收发自如的旅游微攻略彩信。壹旅游点评、景区导游图、游览攻略、实用信息、在线视频链接等
			</span>
			</p>
			<p class="about_3">
			<span class="about_3">
				&nbsp &nbsp &nbsp &nbsp 云南测试版：联通手机用户请编辑景区名称首字母（如云南石林为“YNSL”），发送至10655028001，即可收到该景区的手机彩信微攻略。
			</span>
			</p>
			<p>
			<span class="about_1">
				&nbsp &nbsp &nbsp &nbsp 3、景区随身导游（3G全攻略）：
			</span>
			<span class="about_2">
				手机彩信微攻略的延伸扩展，增加了音视频在线浏览、高清地图、游记分享等内容；
			</span>
			</p>
			<p>
			<span class="about_1">
				&nbsp &nbsp &nbsp &nbsp 4、“拍立导”景区随身导游百科：
			</span>
			<span class="about_2">
				智能手机拍摄二维码或牌匾、雕塑等细节景物，可即时扫描识别，实现即时多媒体导游导览求。
			</span>
			</p>
</div>