/*
 *= require admin/bootstrap-and-fontawesome
 *= require jquery.fileupload-ui
 *= require jquery/jquery.ad-gallery
 *= require jquery/jquery.redactor
 *= require_self
 */

@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
	background-image: image-url("admin/bg-2.jpeg");
	padding-top: 60px;
}

textarea {
	resize: none;
}

abbr {
	color: #9d261d;
}

.span-full {
	width: 99%;
}

/* 表单 */
.simple_form {
  .help-block {
  	color: #ccc;
  }
  label abbr {
  	color: $errorText;
  }
  .control-group.error .help-block {
  	color: #ccc;
  }
  .thumb {
  	margin-bottom: 10px;
  }
}

/* 按钮 */
.btn {
	.icon-large::before {
		vertical-align: middle;
	}
	b {
		padding-left: 3px;
		font-weight: normal;
	}
}

/* 顶部导航条 */
.navbar { 
	.brand {
		padding: 0 20px 0 20px;
	}
	.nav > li {
		margin-right: 4px;
	}
	.nav > li > a {
		padding-top: 10px;
	}
}

/* 工具栏 */
#toolbar {
	margin-top: 0;
	.search {
		form {
			margin-bottom: 0;
		}
	}
}

/* 后置组合输入框修正 */
.input-prepend.input-append {
	.add-on:first-child, .btn:first-child {
		margin-right: -5px;
	}
	.add-on:last-child, .btn:last-child {
		margin-left: -5px;
	}
}
.input-append {
	.add-on, .btn {
		margin-left: -5px;
	}
}

#main {
	.form-frame {
		width: 70%;
		.form-actions {
			margin-bottom: 0;
		}
	}
	.form-sidebar {
		width: 28%;
	}
}

/* 表格 */
.table-bordered {
	th, td {
		border-left: none;
		&:first-child {
			border-left: 1px solid $tableBorder;
			text-align: center;
			width: 40px;
		}
		&.actions {
			text-align: center;
			width: 150px;
			a {
				display: inline-block;
				padding: 0 3px;
				color: #333;
				text-decoration: none;
				&:hover {
					color: #9d261d;
				}
			}
		}
	}
	th:first-child {
		padding: 6px 8px 7px 8px;
	}
	td:first-child {
		padding: 7px 8px 6px 8px;
	}
	td.actions {
		padding: 11px 8px 4px 8px;
	}
}

/* 表格页脚 */
.table-footer {
	.paginates-info {
		width: 29%;
		float: left;
		height:36px;
		line-height:36px;
	}
	.pagination {
		width: 70%;
		float:right;
		margin:0;
		text-align:right;
	}
}

.file_upload {
	.controls {
		@include clearfix;
		.fileinput-button {
			float: none;
			margin-bottom: 9px;
		}
		.help-block {
			margin-bottom: 0;
		}
	}
}

/* 景区列表 */
#places .thumbnails {
	.span3 {
		width: 210px;
	}
	.thumbnail {
		position: relative;
		span.name {
			display: block;
			position: absolute;
			bottom: -11px;
			right: -1px;
			color: #333;
			background: #fff;
			border: 1px solid #ccc;
			font-size: 14px;
			padding: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		&:hover {
			span.name {
				border-color: #08C;
			}
		}
	}
	.other {
		margin-top: 10px;
		a {
			color: #ccc;
			&:hover {
				text-decoration: none;
				color: #049cdb;
			}
		}
		.count {
			display: inline-block;
		}
		.permission {
			color: #ccc;
		}
	}
}

@media (min-width: 1200px) {
	#places .thumbnails {
		.span3 {
			width: 260px;
		}
	}
}
