<%= content_for :title do -%>
  多彩民族专辑
<% end -%>

<div class="big-logo small">
  <%= image_tag "/assets/index/logo.jpg", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="navigation">
  <%= image_tag "/assets/index/navigation.jpg", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="small about">
  <%= image_tag "/assets/index/about.png", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="article about_content">
  <h3>认识壹旅游</h3>
  <p>
    <span class="about_1">
      成立时间：
    </span>
    <span class="about_2">
      2011年
    </span>
  </P>
  <p>
    <span class="about_1">
      母公司： &nbsp &nbsp
    </span>
    <span class="about_2">
      世界著名IC设计公司—凌阳科技集团
    </span>
  </P>
  <p>
    <span class="about_1">
      业务定位：
    </span>
    <span class="about_2">
      智慧旅游系统运营商
    </span>
  </P>
  <p>
    <span class="about_1">
      技术平台：
    </span>
    <span class="about_2">
      “云游四海”
    </span>
  </P>
  <p>
    <span class="about_1">
      企业使命：
    </span>
    <span class="about_2">
      传统旅游文化+现代科技创新
    </span>
  </P>
  <h3>
    为什么做云南多彩民族专辑
  </h3>
  <p>
    &nbsp &nbsp &nbsp &nbsp 如果说每个人心中都有一个云南印象，那么每个人的云南印象中必然有一个共同的灵魂，那便是多彩的云南民族。56个民族的谱系中云南竟有26个，全国没有一个省份在民族文化上可与云南比肩。我们制作的“云南多彩民族”专辑，目的是深度挖掘云南26个民族的人文地理，全景式向您展示云南少数民族的魅力。
  </P>
  <p>
    &nbsp &nbsp &nbsp &nbsp 从浩帙的民族史料中萃取最精彩的素材，以数字化的内容将每个民族一一呈现出来，这是份堪称浩繁的工程，本不该是一个科技企业的责任，但能够利用壹旅游的技术平台展示民族传统文化，“技以立身，文以化人”，这正是一个科技企业的文化传承的责任，也体现出壹旅游决策者的文化担当。
  </P>
  <h3>
    如何获取云南多彩民族专辑
  </h3>
  <p>
    &nbsp &nbsp &nbsp &nbsp 您看到的“云南民族”3G网页，嵌入了我们精心制作的“民族印象”视频，还有我们为每个民族绘制的“分布区域图”。此外，在考证搜罗每个民族的歌舞、节庆、风俗、建筑、美食等内容外，还甄选出每个民族最大特征的“关键词”，让您通过词条快速感知这个民族的独特魅力。
  </P>
  <p>
    &nbsp &nbsp &nbsp &nbsp 这份民族专辑的内容，我们会平移到PC网、IOS/Android应用，您可以随时随地通过手机、电脑等终端迅速了解一个民族的风情。
  </P>
  <p>
    &nbsp &nbsp &nbsp &nbsp 壹旅游是一个文化旅游的科技型企业，我们针对这个民族专辑还开发出了民族布偶、民族印章、民族乐盘等特色的民族礼品，这些工艺品上都有每个民族的二维码，如果您在云南各地旅游，见到了这些产品，不妨用手机扫描二维码，当地每个少数民族的风情您会尽晓悉知。相信这些特色礼品，也一定会是您馈赠家人朋友的绝佳手信！
  </p>
</div>
    
    
    