<% if !area.blank? %>
  <li class="span5">
  	<div class="name">
  		<h4><%= area.area_category.name %></h4>
  		<span class="actions">
      <% if can? :update, Area %>
    			<%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
           	edit_admin_area_path(area), 
           	:title => t("helpers.links.edit"),
            :rel => :tooltip %>
      <% end %>
      <% if can? :destroy, Area %>
    	    <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
    	      admin_area_path(area),
            :method => :delete,
            :title => t("helpers.links.destroy"),
            :data => { :confirm => t("helpers.messages.confirm") },
            :rel => :tooltip %>
      <% end %>
  		</span>
  	</div>
  </li>
<% end %>