<div id="videos" class="well newest-videos alert-success">
	<h6>最新添加的景区视频</h6>
	<% if can? :read, Video %>
		<ul class="nav nav-list">
			<% @newest_videos.each do |video| -%>
				<li>
					<a href="<%= "#{admin_place_path(video.place_id)}#video" %>">
						<i class="icon-film"></i><%= " #{video.place.name} - #{video.name.truncate(26)}" %>
					</a>
				</li>
			<% end -%>
		</ul>
	<% else -%>
		<p><%= t("unauthorized.index.video") %></p>
	<% end -%>
</div>