<div id="audios" class="well newest-audios">
	<h6>最新添加的音频</h6>
	<% if can? :read, Audio %>
		<ul class="nav nav-list">
			<% @newest_audios.each do |audio| -%>
				<li>
					<a href="<%= "#{admin_area_path(audio.area_id)}#audio" %>">
						<i class="icon-volume-up"></i><%= " #{audio.area.area_category.name} - #{audio.name.truncate(22)}" %>
					</a>
				</li>
			<% end -%>
		</ul>
	<% else -%>
		<p><%= t("unauthorized.index.audio") %></p>
	<% end -%>
</div>