<div id="articles" class="well newest-articles">
	<h6>最新添加的文章</h6>
	<% if can? :read, Article %>
		<ul class="nav nav-list">
			<% @newest_articles.each do |article| -%>
				<li>
					<a href="<%= admin_area_article_path(article.area_id, article) %>">
						<i class="icon-book"></i><%= " #{article.area.area_category.name} - #{article.title.truncate(22)}" %>
					</a>
				</li>
			<% end -%>
		</ul>
	<% else -%>
		<p><%= t("unauthorized.index.article") %></p>
	<% end -%>
</div>