<div id="infos" class="well newest-infos">
	<h6>最新添加的信息</h6>
	<% if can? :read, Info %>
		<ul class="nav nav-list">
			<% @newest_infos.each do |info| -%>
				<li>
					<a href="<%= "#{admin_area_path(info.area_id)}#info" %>">
						<i class="icon-pushpin"></i><%= " #{info.area.area_category.name} - #{info.var.truncate(26)}" %>
					</a>
				</li>
			<% end -%>
		</ul>
	<% else -%>
		<p><%= t("unauthorized.index.info") %></p>
	<% end -%>
</div>