/*
 *= require jplayer.pink.flag
 *= require screen
 *= require base.new
 *= require_self
 */

div.jp-video ul.jp-controls {
	width: 140px;
}
ul.jp-controls li{
  width:60px;
}
div.jp-type-single  .jp-controls li a{
  border: 1px solid #000;
	width: 60px;
}
#specil li{
  margin-left:5px;
}

div.jp-type-single  .jp-play {
	background: url("jplayer/jplayer.pink.flag.jpg") -18px -40px no-repeat;
}

div.jp-type-single  .jp-play:hover {
	background: url("jplayer/jplayer.pink.flag.jpg") -118px -40px no-repeat;
}

div.jp-type-single  .jp-pause {
	background: url("jplayer/jplayer.pink.flag.jpg") -18px -120px no-repeat;
}

div.jp-type-single  .jp-pause:hover {
	background: url("jplayer/jplayer.pink.flag.jpg") -18px -120px no-repeat;
}

div.jp-type-single  .jp-stop {
	background: url("jplayer/jplayer.pink.flag.jpg") -18px -80px no-repeat;
}

div.jp-type-single  .jp-stop:hover {
	background: url("jplayer/jplayer.pink.flag.jpg") -118px -80px no-repeat;
}

div.jp-video ul.jp-controls {
  margin:0 0 0 59px;
}

#article {
  font-size: 14px;
  .title {
    text-align: center;
    margin-bottom: 6px;
    }
  .author {
    font-size: 16px;
    text-align: center;
    color: #ccc;
    margin-bottom: 10px;
    }
}