<li <%= "class=active" if controller_name == "home" %>>
	<%= link_to t("helpers.links.home"), admin_root_path, :title => t("helpers.links.home") %>
</li>
<li <%= "class=active" if controller_name == "provinces" %>>
	<%= link_to Province.model_name.human, admin_provinces_path, :title => Province.model_name.human %>
</li>